.list {
    &__item {
      height: 482px;
      width: 306px;
      position: relative;
      padding: 20px;
      background-color: #F1F1F1;
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 25px;
      border-top-left-radius: 150px;
      border-top-right-radius: 150px;
      box-shadow: 0px 4px 40px 0 rgba(0, 0, 0, 0.2);
  
      @media (max-width: 800px) {
        background-color: #F1F1F1;;
        box-shadow: 0px 4px 40px 0 rgba(0, 0, 0, 0.2);
      }
  
      @media (max-width: 590px) {
        padding-bottom: 75px;
        min-height: 412px;
      }
  
      &__actions {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        flex-direction: column;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
        z-index: 1;
  
        @media (max-width: 800px) {
          opacity: 1;
          visibility: visible;
        }
      }
  
      &__img {
        margin: auto;
        display: block;
        
  
        img {
          max-height: 266px;
          max-width: 266px;
          margin: 20px auto;
          object-fit: cover;
          border-radius: 500px;
          margin-bottom: 100px;
        }
      }
  
      &__inner {
        align-self: flex-start;
        padding-top: 40px;
        padding-bottom: 10px;
        height: 200px;
      }
  
      &__title {
        margin: 0;
        margin-bottom: 18px;
  
        a {
          color: #05193B;
          font-size: 20px;
          font-weight: 700;
          text-decoration: none;
        }
      }

      &__description {
        overflow: hidden;
        color: 828282;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        margin-bottom: 10px;
        color: #828282;

        &__h {
          overflow: hidden;
          color: 828282;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          margin-bottom: 5px;
          color: #828282
          }
      }

      
      &__charact {
        position: absolute;
        top: 24px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        color:#ffffff;
        font-size: 18px;
        font-weight: 400;
        &__item{
          padding-bottom: 20px;
        }
        
      }
     
      
    }
  
    
  }
  
  

  .crop {
    width: 266px;
    height: 266px;
    overflow: hidden;
}